{% extends "main_dashboard/index.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Privacy</title>

<style>

</style>
</head>

<body>

{% block content %}
    <section class="bg">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Our privacy policy</h4>
          </div>
          <div class="card-body ">
            <ul class="list-unstyled mt-3 mb-4">
              <li>We don't have any privacy policy except fo storing your information.</li>
              <li>We won't use cookies to enhance you experience.</li>
              <li>We will not sell your information to third party.</li>
              <li>We genuinely are here to help.</li><br>
                <li>If you have any question regarding this policy please contact us.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </section>
{% endblock %}
</body>

{% block scripts %}

{% endblock %}

{% block modal %}

{% endblock %}