{% extends "main_dashboard/profile.html" %}
{% load staticfiles %}


{% block header %}
    <a class="btn btn-success" href="{% url 'profile_with_pk' data.user_info.user_id  %}">Profile</a>
{% endblock %}

{% block content %}
    <br><br><br><br><br>

     <form class="form-signin text-center" method="POST" id="change_password">
        {% csrf_token %}
         <select id = "pk"> <option value = "{{data.user_info.user_id}}"></option></select>

         <div class="w-50 p-3 mx-auto bg-dark" >

      <h1 class="h3 mb-3 font-weight-normal text-white">Please fill the new password</h1>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Password" required name="password"><br>

            <label for="inputPassword" class="sr-only">Re-enter your Password</label>
            <input type="password" id="re_password" class="form-control" placeholder="Re-enter your Password" required name="re_password"><br>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
            </div>
    </form>
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        $(document).on('submit', '#change_password',function (e) {
            e.preventDefault();
            var password = $('#password').val();
            var re_password = $('#re_password').val();
            var pk = $('#pk').val();
            $.ajax({
                type: "POST",
                url:"/profile_edit_password_ajax/",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'pk': pk,
                    'password': password,
                    're_password': re_password
                },
                dataType: 'json',
                success: function () {
                    alert("Password Updated");
                },
                error: function () {
                    alert("Password doesn't match")
                }
            });
        });
    </script>
{% endblock %}