{% extends "main_dashboard/base.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign out successful</title>

<style>

</style>
</head>

<body>

{% block content %}
    <section class="bg">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="container">
          <div class="card-deck mb-3 text-center">
            <div class="card text-white bg-dark mb-3">
              <div class="card-header">
                <h1 class="my-0 font-weight-normal">Sign out successful</h1>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Thank you for using our website.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </section>
{% endblock %}
</body>

{% block scripts %}

{% endblock %}

{% block modal %}

{% endblock %}
